# ================================================
# LDAP Base configuration
# ================================================
dn: ou=People,dc=protonet,dc=com
objectClass: top
objectClass: organizationalUnit
ou: People

# The list of apps
dn: ou=Apps,dc=protonet,dc=com
objectClass: top
objectClass: organizationalUnit
ou: Apps

dn: ou=Groups,dc=protonet,dc=com
objectClass: organizationalunit
objectClass: top
ou: Groups

dn: ou=AppMemberships,dc=protonet,dc=com
objectClass: organizationalunit
objectClass: top
ou: AppMemberships